/.idea
/.idea/*
/client/src/assets/styles/.sass-cache
/client/build
/client/.idea
/client/.idea/*
/client/package-lock.json
/client/node_modules
/client/node_modules/*
/api/package-lock.json
/api/.idea
/api/.idea/*
/api/node_modules
/api/node_modules/*
/socket/package-lock.json
/socket/.idea
/socket/.idea/*
/socket/node_modules
/socket/node_modules/*